*,
*::before,
*::after {
  box-sizing: inherit;
}
/* Everything is contained in a border box by default */

html {
  box-sizing: border-box;
  /* contains content in the element so adding padding/margin/border is contained */
  color-scheme: dark;
  /* Makes the theme dark */
}

body {
  font-family: inter, sans-serif;
  /* Use first font if not use backup */
  margin: 0;
  /* Removes browers default margin */
  background-color: #033844;
}

:root {
  --gradient-color:
        /* root for all gradient */ linear-gradient(
    45deg,
    #12c2e9,
    #c471ed,
    #f64f59
  );
}

ul {
  list-style-type: none;
  /* Removes bullet points from list */
  overflow: hidden;
  /* Keeps text inside container */
}

li {
  /* float: left; /* Lets text or other elements to the right of it unlike "block" property */
  display: inline-block;
  justify-content: space-between;
}

li a {
  display: block;
  /* Take up the whole line and nothing next to them, forces a new line above it and below it, takes up the full width*/
  color: rgb(255, 255, 255);
  /* Color of the text inside the list and anchor element */
  text-align: center;
  padding: 14px 16px;
  /* Gives the navbar height and width */
  text-decoration: none;
  /* Can give text underline */
}

li a:hover {
  background-image: var(--gradient-color);
  border-radius: 20px;
}

#nav-bar {
  display: flex;
  justify-content: center;
}

#header-img {
  height: auto;
  width: 60px;
  margin-left: 5px;
  object-fit: cover;
  margin-top: 5px;
  /* keeps object in aspect ratio  */
}

h1,
h3 {
  text-align: center;
}

h3 {
  font-size: 12px;
  margin-top: -20px;
}

.text-1 {
  color: #201844;
}

.wrapper {
  max-width: 50rem;
  margin-left: auto;
  /* Center things */
  margin-right: auto;
  /* Center things */
  padding-inline: 1rem;
  /* Stops element thouching the edge of the page when scaling */
}

section {
  padding-block: 5rem;
  /* Logical property for top and bottom spacing  */
}

.diagonal-1 {
  position: relative;
  /* This helps the pseudo :: after element stays inside */
  isolation: isolate;
  /* Contains the z-index and prevent other background properties */
}

.diagonal-1::after {
  content: "";
  /* Because its a pseudo element we need a empty conent element   */
  background-image:
        /* background image to work with linear gradient, throw anything at it */ var(
    --gradient-color
  );
  position: absolute;
  /* Stops the pseudo element escaping the section */
  z-index: -1;
  /* Pushes element backwards */
  inset: 0;
  /* Inset is a Logical property, shorthand to top,bottom, left, right */
  transform: skewY(-5deg);
}

.diagonal-2 {
  position: relative;
  /* This helps the pseudo :: after element stays inside */
  isolation: isolate;
  /* Contains the z-index and prevent other background properties */
}

.diagonal-2::after {
  content: "";
  /* Because its a pseudo element we need a empty conent element  */
  background-image:
        /* background image to work with linear gradient, throw anything at it */ var(
    --gradient-color
  );
  position: absolute;
  /* Stops the pseudo element escaping the section */
  z-index: -1;
  /* Pushes element backwards */
  inset: 0;
  /* Inset is a Logical property, shorthand to top,bottom, left, right */
  transform: skewY(5deg);
}

video {
  display: block;
  margin: auto;
  width: 500px;
  min-width: 300px;
  overflow: hidden;
  border: 10px solid;
  border-image: var(--gradient-color);
  border-image-slice: 1;
}

.reg {
  padding: 16px;
  width: 50%;
  border: 10px solid;
  border-image: var(--gradient-color);
  border-image-slice: 1; /* slices image into 9 sections, four corners, four edges and the middle.  */
  margin: auto; /* "Set the margin property to auto. That way, the div will take up whatever width is specified in the CSS and the browser splits the remaining space equally between the margins on either side.*/
  width: 500px;
}

input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 10px 0;
  background: white;
  color: gray;
  border-radius: 5px;
}

.registerbtn {
  background-image: var(--gradient-color);
  border-radius: 10px;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 10;
  color: blue;
}

label {
  font-weight: 700;
}

hr {
  width: 90%;
  opacity: 20%;
  margin-top: 50px;
}

p.info::first-letter {
  font-size: 3rem;
  float: left;
  /* Makes the first large letter sink into the text instead of above it */
  margin-right: 0.3rem;
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  /* When below 500px ul goes into grid */
  ul {
    display: grid;
  }

  #header-img {
    display: none;
  }

  ul {
    padding: 0;
  }
}

form {
  padding-bottom: 20px;
}

footer {
  padding-block: 3rem;
  background-color: #1b1c1d;
  justify-content: center;
  display: flex;
  margin-bottom: -65px;
}
a.footer-link {
  font-size: 18px;
  padding: 10px;
  color: azure;
  text-decoration: none;
}
.footer-link:hover {
  font-size: 18px;
  padding: 10px;
  color: rgb(39, 194, 194);
  text-decoration: underline;
}
.footer-name {
  background-color: #1b1c1d;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 13px;
  color: #39393a;
}
